## NCMPCPP Config By Cisco64 ##

## General Settings ##
autocenter_mode = "no"
follow_now_playing_lyrics = "no"
ignore_leading_the = "yes"
ignore_diacritics = "yes"
default_place_to_search_in = "database"
mpd_music_dir = "~/Music"
volume_change_step = 5

## Display Modes ##
playlist_editor_display_mode = "classic"
search_engine_display_mode = "classic"
browser_display_mode = "classic"
playlist_display_mode = "classic"

## General Colors ##
colors_enabled = "yes"
main_window_color = "white"
header_window_color = "cyan"
volume_color = "cyan"
statusbar_color = "white"
progressbar_color = "240"
progressbar_elapsed_color = "cyan"

## Current Item ##
current_item_prefix = "$(237_cyan)$r⊣ $9"
current_item_suffix = "$(237_cyan) ⊢$9$/r"
current_item_inactive_column_prefix = "$(cyan)$r"

## Song List ##
song_columns_list_format = "(20)[magenta]{a} (4)[blue]{n} (43)[green]{t} (30)[yellow]{b}"
song_list_format = "{$6 %a $9}{$3 %30t $9}|{$3 %30f $9}{$(cyan)$R}{$5 %n $9}{$4 %20b $9}{$8 %y $9}"

## User Interface ##
user_interface = "alternative"

## Alternative Interface Settings ##
alternative_header_first_line_format = "{$6%a$9 - }{$3%t$9}|{$3%f$9}"

alternative_header_second_line_format = "{{$4%b$9}{ [$8%y$9]}}|{$4%D$9}"
## Classic Interface Settings ##
song_status_format = " $6%a $7》$3%t $7《 $5%n $4%b "

## Visualizer ##
#visualizer_data_source = "/tmp/mpd.fifo"
#visualizer_output_name = "my_fifo"
#visualizer_in_stereo = "no"
#visualizer_type = "wave"
#visualizer_look = "+|"
#visualizer_look = "|▋"

## Navigation ##
cyclic_scrolling = "yes"
header_text_scrolling = "yes"
jump_to_now_playing_song_at_start = "yes"
lines_scrolled = "2"

## Other ##
system_encoding = "utf-8"
regular_expressions = "extended"

## Selected tracks ##
selected_item_prefix = "* "
discard_colors_if_item_is_selected = "yes"

## Seeking ##
incremental_seeking = "yes"
seek_time = "1"

## Visibility ##
header_visibility = "no"
statusbar_visibility = "yes"
titles_visibility = "no"

## Progress Bar ##
progressbar_look = "━━━"

## Now Playing ( Nerd Font Character ) ##
now_playing_prefix = "$r$(237_red) $9$/r"
now_playing_suffix = " "
centered_cursor = "no"

## Misc ##
display_bitrate = "yes"
enable_window_title = "no"
empty_tag_marker = ""

# Album Art
execute_on_song_change = "~/Scripts/kitty/cover_obs.sh"
